* {
  box-sizing: border-box;
}

@media(min-width:200px){
  .container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
    padding: 3%;
  }
}

@media(min-width:200px){
body{
  color:rgb(22, 22, 22);
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings:"wdth" 100;
  background-color: rgb(245, 244, 240);
  text-align: left;
}
}

@media(min-width:1000px){
body{
  color:rgb(36, 36, 36);
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings:"wdth" 100;
  background-color: #f5f4f0;
  text-align: left;
}
}

h1{
  font-family: 'anton', sans-serif;
font-style: normal;
font-weight: 800;
  padding-top:4%;
  color: #000000;
  margin-bottom: 0px;
}

.name{
 font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  
  font-size: 12vw;   /* scales with screen width */
  line-height: 1;

  width: 100%;
  text-align: center;

  padding-top: 4%;
  margin-bottom: 0;
  color: #000;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Style all font awesome icons */
.fa {
  font-size: 2vw;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
  text-decoration: none;
  color: rgb(240, 237, 225);
}

a{
  text-decoration:none;
}

.footer a{
  color: rgb(245, 244, 240);
}

.header a{
  color:rgb(22, 22, 22);
}

a:hover{
  color: #225624;
}

.list{
  display: inline-block;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.box-1{
  flex:2;
}
.box-2{
  flex:1;
}

.header{
  width:100%; 
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2%;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  z-index:1000;
}

@media(min-width:200px){
.logo{
  width:30px;
  height:auto;
}}
@media(min-width:550px){
.logo{
  width:50px;
  height:auto;
}}

.links-container {
  margin-left: auto; 
  margin-right:5%;
  text-align: right;
}
.links-container a {
  padding: 10px;
  width: 100%;
}

.footer{
  color: rgb(245, 244, 240);
  width:100%; 
  text-align:right;
  position:fixed;
  bottom:0;
  right:0;
  background-color: rgb(22, 22, 22);
  padding-right: 2%;
  padding-left: 2%;
  z-index: 1000;
}

/* layering images */

@media(min-width:200px){
  .image-container {
    flex: 1;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;  /* Centers the images horizontally */
    align-items: center; 
  }
  }

.top-image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10%;
}

.top-image .image-link {
  display: block;
  width: 30%;
}

.top-image img {
  width: 100%;
  height: auto;
}

.bottom-image .image-container {
  justify-content: flex-start;
}

.bottom-image img {
  width: 30%;
}

.middle-image {
  display: flex;
  justify-content: flex-end;
}

.middle-image .image-wrapper {
  position: relative; /* override absolute */
  margin-right: 0%;
}

.middle-image img {
  width: 30%;
}

@media(min-width:200px){
.image-container img {
  position: relative;
  width: 80%;
}
}

  .image-wrapper {
    transition: transform 0.3s ease;
    position: absolute;
  }

.image-wrapper:hover {
  transform: translateY(-10px);
}

.image-wrapper:hover {
  transform: translateY(-10px);
}
  
  .image-link:hover {
    transform: scale(1) translateY(-10px);
  }
  

/* titles */

  .image-container-title {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom:25%;
    display: flex;
  }

  .image-container-title img {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .image-container-page {
    display: flex;
    justify-content: center;  /* Centers the images horizontally */
    align-items: center;      /* Centers the images vertically */
    gap: 2rem;                /* Space between images */
    width: 80%;               /* Adjust width as needed */
    margin: 0 auto;           /* Centers the flex container horizontally */
    margin-bottom: 5%;
  }
  
  
  .image-container-page img {
    width: 100%; 
    height: auto;
    transform: scale(0.7); 
    transition: transform 0.3s ease;
  }
  
  .image-container-page img:hover {
    transform: scale(0.8);
  }

  .image-container-title img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  
      .titleimage1 {
        z-index: 3;
        scale: 40%;
        top: 0; 
      }
  
      .titleimage2 {
        z-index: 2;
        scale: 30%;
        right: 20%;
      }

      .titleimage3 {
        z-index: 1;
        scale:10%;
        transform: translateY(-430%);
        left:15%;
      }
      
      .titleimage-lyceum {
        z-index: 2;
        scale: 50%;
        left: 10%; 
        transform: translateY(-60%);
        opacity: 0.7;
      }

      .titleimage1-lyceum {
        z-index: 1;
        scale:35%;
        right: 25%;
        transform: translateY(-100%);
        opacity: 0.8;
      }

      .responsive-image {
        justify-content: center;
        align-items: center;
        max-width: 100%; 
        height: auto;   
        flex: 1 1 auto;
      }
    
/* carousel */
      .carousel {
        position: relative;
        width: 80%;
        overflow: hidden;
        margin:auto;
    }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
    }
    
    .carousel-item img {
        width: 100%;
        display: block;
    }
    
    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }      
      
    
      
